<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dao.CommentMapper" >
	<select id="getCommentBySeller" resultType="Comment">
		SELECT b.buyerName,c.*,r.replyDesc ,r.replyTime from `comment`as c,buyer as b,reply as r 
		where c.buyerId=b.buyerId and c.orderId=r.orderId and  
		c.sellerid=#{sellerId} order by c.createTime desc
	</select>
</mapper>